<div class="before">

</div>
<div class="container ">

    <!--Author box-->
    <div class="author-box  d-flex align-items-start">
        <!--Name-->
        <!-- <h3 class="h3-responsive text-center">About author</h3>
        <hr> -->

        <!--Avatar-->
        <div class="col-lg-4 col-md-6 col-sm-2 " height="100px">
            <img src="assets/images/download.png" class="img-fluid z-depth-2">

        </div>

        <!--Author Data-->
        <div class=" col-lg-8 col-sm-10">

            <div class="personal-sm col-lg-8">
                <ul>
                    <!--book Name-->
                    <li>
                        <p><strong>THE LAST BREATH</strong></p>
                        <hr>
                    </li>
                    <li> <label for="" class="font-weight-bold">Category : </label> book category </li>
                    <li> <label for="" class="font-weight-bold">Description : </label> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, nihil ducimus? Quod nihil cupiditate quaerat illo atque nostrum veritatis sint eum fuga, necessitatibus
                        commodi hic enim alias, maxime quos beatae? </li>
                    <li> <label for="" class="font-weight-bold">For : </label> sell</li>
                    <li> <label for="" class="font-weight-bold">Price : </label> 23 <label class="font-weight-bold">  L.E</label> </li>
                    <li> <label for="" class="font-weight-bold">Quantity : </label> 4</li>
                    <li> <label for="" class="font-weight-bold">For bid till : </label> 15-7-2018 </li>

                    <!--Rating-->
                    <!-- <p-rating [(ngModel)]="val" formControlName="score"></p-rating> -->
                    <li> <input type="button" class="btn  peach" value="Order now"></li>
                </ul>


            </div>

        </div>


    </div>
    <!--/.Author box-->
    <h2 class="col-lg-12 mt-5 title">Book images</h2>
    <hr class="mb-5 col-lg-12">
    <div class="container animated bounceInUp mt-5 " id="content">
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-r ">

                <!--Card-->
                <div class="card card-cascade narrower">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight zoom">
                        <img src="assets/images/download.png" class="img-fluid" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->



                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-r">

                <!--Card-->
                <div class="card card-cascade narrower">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight zoom">
                        <img src="assets/images/books-trophy-child.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->


                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-r">

                <!--Card-->
                <div class="card card-cascade narrower">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight zoom">
                        <img src="assets/images/5346.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->


                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

        </div>

    </div>

</div>