<div class="before"></div>
<div class="container">
    <div class="row notiList">
        <h4 class=" col-lg-12 text-center">All Notifications</h4>
        <hr>
        <!--Notification List-->
        <ul>
            <li class="col-lg-12">
                <div class="mdb-feed pt-5 pb-3">

                    <div class="news">
                        <!--Label-->
                        <div class="label">
                            <a href=""> <img src="assets/images/alexandru-zdrobau-98438-unsplash.jpg" class="rounded-circle z-depth-1-half">
                            </a>
                        </div>
                        <!--Excert-->
                        <div class="excerpt">
                            <!--Brief-->
                            <a href="">
                                <div class="brief">
                                    <a class="name"><strong>Heba Ali</strong> </a> <span>Wanted to buy your book</span>
                                    <div class="date">June 12,2018 at 07:43</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-lg-12">
                <div class="mdb-feed pt-5 pb-3">

                    <div class="news">
                        <!--Label-->
                        <div class="label">
                            <img src="assets/images/alexandru-zdrobau-98438-unsplash.jpg" class="rounded-circle z-depth-1-half">
                        </div>
                        <!--Excert-->
                        <div class="excerpt">
                            <!--Brief-->
                            <div class="brief">
                                <a class="name"><strong>Heba Ali</strong> </a> <span>Wanted to buy your book</span>
                                <div class="date">June 12,2018 at 07:43</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-lg-12">
                <div class="mdb-feed pt-5 pb-3">

                    <div class="news">
                        <!--Label-->
                        <div class="label">
                            <img src="assets/images/alexandru-zdrobau-98438-unsplash.jpg" class="rounded-circle z-depth-1-half">
                        </div>
                        <!--Excert-->
                        <div class="excerpt">
                            <!--Brief-->
                            <div class="brief">
                                <a class="name"><strong>Heba Ali</strong> </a> <span>Wanted to buy your book</span>
                                <div class="date">June 12,2018 at 07:43</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-lg-12">
                <div class="mdb-feed pt-5 pb-3">

                    <div class="news">
                        <!--Label-->
                        <div class="label">
                            <img src="assets/images/alexandru-zdrobau-98438-unsplash.jpg" class="rounded-circle z-depth-1-half">
                        </div>
                        <!--Excert-->
                        <div class="excerpt">
                            <!--Brief-->
                            <div class="brief">
                                <a class="name"><strong>Heba Ali</strong> </a> <span>Wanted to buy your book</span>
                                <div class="date">June 12,2018 at 07:43</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>